/best.json
*.class
*.log
.idea 
.DS_Store
.templates-cache

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#Damn Stuff
templates/MLlib-Decision-TreesBONITO/

# Scala-IDE specific
.scala_dependencies
.worksheet




#Vagrant
.vagrant

#PIO
pio.log
data/*.txt
data/*.seq
data/*.zip
manifest.json
pio.log
target/
/pio.sbt
src/main/main.iml

#Dev and Learn

scala-tutorials/
#templates/
test/

### DATA 
letterSequences
*.seq
*.zip


# ML_PIO

pio-runtime-jars/
src/main/scala/Engine.scala~
src/main/scala/NaiveBayesAlgorithm.scala~
src/main/scala/*.scala~


